.App {
  text-align: center;
}


.custom-datepicker {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  width: 200px;
  margin-left: 20px;
}

.custom-datepicker:focus {
  outline: none;
  border-color: #4CAF50; /* Green */
}

/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.button-date-picker-container {
  display: flex;
  align-items: center;
}

.button-container {
  margin: 20px;
}


.text-box {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  left: 10px; /* Adjust left position as needed */
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.chart-container {
  flex-grow: 1;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
  height: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Button.css */
.custom-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #45a049; /* Darker Green */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
